.movie-item {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    margin-left: 5px;
    transition: transform 0.8s;
    cursor: pointer;
}

.movie-item:hover {
    transform: scale(1.2);
}

.movie-item__large {
    max-height: 500px;
}

.move-item__large:hover {
    transform: scale(1.5);
}